
<!-- SEGUNDO COMPONENTE ACTUALIZADO -->

<div class="blockShowInfo">
  <div class="blockHeaderInfo">
    <figure>
      logo
    </figure>
    <h2>Cartelera Informativa</h2>
    <figure>
      <img src="../assets/width_199.webp" alt="" class="img-fluid">
    </figure>
  </div>

  <!-- /*COMPONENTE PARA MOSTRAR INFORMACION DE MANERA DINAMICA*/ -->
  <div class="mainBlockInfo">
    <div class="nameTable">
      <h4>Titulo de la tarjeta</h4>
      <span>04-05-2024 9:19</span>
    </div>
    <div class="infoTable">

      <div class="headerCarteleraTable">
        <span>
          Nombre del Usuario
        </span>
      </div>

      <div class="bodyCarteleraTable">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium beatae ratione, ipsa nesciunt
          ut iure quia tempore, quam adipisci autem inventore explicabo iusto libero recusandae natus error,
          qui rem assumenda.
        </p>
      </div>
    </div>
  </div>
  <div class="mainBlockInfo">
    <div class="nameTable">
      <h4>Titulo de la tarjeta</h4>
      <span>04-05-2024 9:19</span>
    </div>

    <div class="infoTable">

      <div class="headerCarteleraTable">
        <span>
          Nombre del Usuario
        </span>
      </div>

      <div class="bodyCarteleraTable">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium beatae ratione, ipsa nesciunt
          ut iure quia tempore, quam adipisci autem inventore explicabo iusto libero recusandae natus error,
          qui rem assumenda.
        </p>
      </div>
    </div>

  </div>
  <div class="mainBlockInfo">
    <div class="nameTable">
      <h4>Titulo de la tarjeta</h4>
      <span>04-05-2024 9:19</span>
    </div>

    <div class="infoTable">

      <div class="headerCarteleraTable">
        <span>
          Nombre del Usuario
        </span>
      </div>

      <div class="bodyCarteleraTable">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium beatae ratione, ipsa nesciunt
          ut iure quia tempore, quam adipisci autem inventore explicabo iusto libero recusandae natus error,
          qui rem assumenda.
        </p>
      </div>
    </div>

  </div>
  
  
</div>