<!-- COMPONENTE PARA MOSTRAR LA SECCION DE CAMBIO DE CONTRASEÑA -->
<div class="blockShowInfo">

    <div class="headerContrasena">
        <h2>Cambio de Contraseña</h2>
    </div>

    <div class="formChangeContrasena">
        <div class="changeContrasena">
            <label for="actualPass" class="form-label">Contraseña actual</label>
            <input type="text" class="form-control" id="actualPass" >
        </div>

        <div class="changeContrasena">
            <label for="newPass" class="form-label">Nueva Contraseña</label>
            <input type="text" class="form-control" id="newPass" >
        </div>

        <div class="changeContrasena">
            <label for="confirmPass" class="form-label">Confirma tu Contraseña</label>
            <input type="text" class="form-control" id="confirmPass" >
        </div>

        <div class="updateContrasena">
            <button class="btn btnChangePass">Cambiar Contraseña</button>
        </div>
    </div>
</div>