<!-- COMPONENTE PARA MOSTRAR LA SECCION DE PROXIMOS EVENTOS -->

                    <div class="blockShowInfo">
                        <div class="headerMateria">
                          <h2>Lista de estudiantes</h2>
                      </div>
                      
                      <div class="boxListMateria">  <!--Gris de la tabla-->
                      
                            <div class="selectOptionsMateria">
                              <div class="materiaSelect">
                                <label for="materia">Seleccionar materia:</label>
                                <select class="form-select" aria-label="seleccionar materia">
                                    <option selected>Selecciona...</option>
                                    <option value="1">Calculo I</option>
                                </select>
                            </div>

                        </div>
                      

                            <div class="tableMateria">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">Cedula</th>
                                    <th scope="col">Nombre y Apellido</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col">Telefono</th>
                                 
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">V-2869516</th>
                                    <td>Maria Valentina Rojas Paez</td>
                                    <td>maria145@gmail.com</td>
                                    <td>0424-9646589</td>
                                  </tr>
                      
                                  <tr>
                                    <th scope="row">V-2869516</th>
                                    <td>Maria Valentina Rojas Paez</td>
                                    <td>maria145@gmail.com</td>
                                    <td>0424-9646589</td>
                                  </tr>
                      
                                  <tr>
                                    <th scope="row">V-2869516</th>
                                    <td>Maria Valentina Rojas Paez</td>
                                    <td>maria145@gmail.com</td>
                                    <td>0424-9646589</td>
                                  </tr>
                                  
                                  <tr>
                                    <th scope="row">V-2869516</th>
                                    <td>Maria Valentina Rojas Paez</td>
                                    <td>maria145@gmail.com</td>
                                    <td>0424-9646589</td>
                                  </tr>
                      
                                  <tr>
                                    <th scope="row">V-2869516</th>
                                    <td>Maria Valentina Rojas Paez</td>
                                    <td>maria145@gmail.com</td>
                                    <td>0424-9646589</td>
                                  </tr>
                      
                      
                                  <tr>
                                    <th scope="row">V-2869516</th>
                                    <td>Maria Valentina Rojas Paez</td>
                                    <td>maria145@gmail.com</td>
                                    <td>0424-9646589</td>
                                  </tr>
                      
                                  <tr>
                                    <th scope="row">V-2869516</th>
                                    <td>Maria Valentina Rojas Paez</td>
                                    <td>maria145@gmail.com</td>
                                    <td>0424-9646589</td>
                                  </tr>
                      
                                  <tr>
                                    <th scope="row">V-2869516</th>
                                    <td>Maria Valentina Rojas Paez</td>
                                    <td>maria145@gmail.com</td>
                                    <td>0424-9646589</td>
                                  </tr>
                      
                                  <tr>
                                    <th scope="row">V-2869516</th>
                                    <td>Maria Valentina Rojas Paez</td>
                                    <td>maria145@gmail.com</td>
                                    <td>0424-9646589</td>
                                  </tr>
                                  
                                </tbody>
                              </table>
                            </div>
                      
                      
                            <div class="generarLista">
                              <button class="btn btnList">Generar Listado</button>
                            </div>
                          </div>
                      
                        </div>
                      