<!-- COMPONENTE PARA MOSTRAR LA SECCION DE PROXIMOS EVENTOS -->
<div class="blockShowInfo">

    <div class="headerEventos">
        <h2>Próximos Eventos</h2>
    </div>

    <div class="showEventosBlock">
        <div class="titleEvent">
            <figure></figure>
            <h2>Nombre del Evento</h2>
        </div>
        <div class="personEvent">
            <p>Organizado por: Sabrina Colmenarez</p>
        </div>
        <div class="horarioEvent">
            <div class="infoDateEvent">
                <div class="dateEvent">
                    <div class="headerHoraEvent">
                        <h4>Horario</h4>
                    </div>
                    <ul class="horaEvento">
                        <li>05/08/2024</li>
                        <li>7:23PM</li>
                    </ul>
                </div>
                <div class="locationEvent">

                    <div class="headerLocationEvent">
                        <h4>Espacio de Encuentro</h4>
                    </div>
                    <ul class="statusEvent">
                        <li>Estado: Presencial</li>
                        <li>Costo: Gratis</li>
                    </ul>
                </div>
            </div>
            <div class="descripcionEvent">
                <div class="headerDescripcion">
                    <h4>Descripción</h4>
                </div>
                <div class="descripcionText">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum dolorem
                        fugit nisi odit fuga est ratione recusandae at molestiae beatae?
                    </p>
                </div>

            </div>
        </div>
    </div>

    

    
</div>