<!-- COMPONENTE PARA MOSTRAR LA SECCION DE PUBLICACION -->
<div class="blockShowInfo">

    <div class="headerPublicacion">
        <h2>Publicar</h2>
    </div>

    <div class="postingBlock">
        <label for="titulo" class="form-label">Titulo</label>
        <input type="text" class="form-control" id="titulo" placeholder="Agregue el titulo">
    </div>

    <div class="postingTextBlock">
        <label for="infoPost" class="form-label">Aporta mas información</label>
        <textarea class="form-control" placeholder="Añade la información aqui" id="infoPost"></textarea>
    </div>

    <div class="postOptions">
        <button class="btn btnCancel">
            <span>Cancelar</span>
            <i class='bx bx-trash'></i>
        </button>
        <button class="btn btnSend">
            <span>Enviar</span>
            <i class='bx bx-send'></i>
            <!-- <figure>
                <img src="../assets/ICONOS SIDEBAR/imgIcon_4Publicar.png" alt="enviar post" class="img-fluid">
            </figure> -->
        </button>
    </div>
</div>