<!-- COMPONENTE PARA MOSTRAR LA SECCION DE DATOS DE REPORTES-->
<div class="blockShowInfo">

    <div class="headerDatosReportes">
        <h2>Datos de Reportes</h2>
      </div>


      <div class="boxBodyReportes">
        <div class="headerDatosGenerales">
          <h3>Datos Generales</h3>
        </div>

        <div class="boxDatosText">
          <p></p>

          <div class="buttonListReport">

            <button class="btn btnListSolicitud">
              <span>Lista de Solicitudes</span>
              <figure>
                <img src="../assets/ICONOS SIDEBAR/ICONOS ESTUDIANTES/imgIcon_4SolicitudesEnvi.png" alt="">
              </figure>
            </button>

            <button class="btn btnListSugerencias">
              <span>Lista de Sugerencias</span>
              <figure>
                <img src="../assets/ICONOS SIDEBAR/ICONOS ESTUDIANTES/imgIcon_6EnviarSuge.png" alt="">
              </figure>
            </button>
          </div>

        </div>

        <div class="headerListaSolicitudes">
          <h3>Lista de Solicitudes</h3>
        </div>

        <div class="boxListSolicitudes">

          <div class="blockDescripcionList mb-4">

            <div class="headerListBox">
              <h3>Sugerencia</h3>
              <span>Fecha: 07/08/2024</span>
            </div>
            <div class="subHeaderListBox">
              <p>Por: Oscar De Leon</p>
              <span>Cedula: 28.756.329</span>
            </div>

            <div class="descripcionBoxSolicitud">
              <p>Descripción de la Solicitud...</p>
            </div>
          </div>

          <div class="blockDescripcionList mb-4">

            <div class="headerListBox">
              <h3>Sugerencia</h3>
              <span>Fecha: 07/08/2024</span>
            </div>
            <div class="subHeaderListBox">
              <p>Por: Oscar De Leon</p>
              <span>Cedula: 28.756.329</span>
            </div>

            <div class="descripcionBoxSolicitud">
              <p>Descripción de la Solicitud...</p>
            </div>
          </div>

          <div class="blockDescripcionList mb-4">

            <div class="headerListBox">
              <h3>Sugerencia</h3>
              <span>Fecha: 07/08/2024</span>
            </div>
            <div class="subHeaderListBox">
              <p>Por: Oscar De Leon</p>
              <span>Cedula: 28.756.329</span>
            </div>

            <div class="descripcionBoxSolicitud">
              <p>Descripción de la Solicitud...</p>
            </div>
          </div>
        </div>


      </div>

      <div class="boxBodyReportes">
        <div class="headerDatosGenerales">
          <h3>Datos Generales</h3>
        </div>

        <div class="boxDatosText">

          <p></p>

          <div class="buttonListReport">

            <button class="btn btnListSolicitud">
              <span>Lista de Solicitudes</span>
              <figure>
                <img src="../assets/ICONOS SIDEBAR/ICONOS ESTUDIANTES/imgIcon_4SolicitudesEnvi.png" alt="">
              </figure>
            </button>

            <button class="btn btnListSugerencias">
              <span>Lista de Sugerencias</span>
              <figure>
                <img src="../assets/ICONOS SIDEBAR/ICONOS ESTUDIANTES/imgIcon_6EnviarSuge.png" alt="">
              </figure>
            </button>
          </div>

        </div>

        <div class="headerListaSugerencias">
          <h3>Lista de Sugerencias</h3>
        </div>

        <div class="boxListSugerencias">

          <div class="selectOptionsSugerencias">

            <div class="typeSelect">
              <label for="tipo">Tipo</label>

              <!-- //MODIFICAR LOS VALORES DE LOS OPTIONS SEGUN SEA LA INFORMACION RECIBIDA DEL BACKEND -->
              <select class="form-select" aria-label="seleccionar tipo sugerencia">
                <option selected>Selecciona...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>

            <div class="estadoSelect">
              <label for="estado">Estado</label>
              <select class="form-select" aria-label="seleccionar estado">
                <option selected>Selecciona...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>

            <div class="carreraSelect">
              <label for="carrera">Carrera</label>
              <select class="form-select" aria-label="seleccionar tipo sugerencia">
                <option selected>Selecciona...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>

          </div>

          <div class="applyParametros form-check">
            <label class="form-check-label" for="parametrosApply">
              Aplicar parametros de busqueda
            </label>
            <input class="form-check-input" type="checkbox" value="" id="parametrosApply">
          </div>


          <div class="tableInfoSugerencias">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Usuario</th>
                  <th scope="col">Carrera</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Descripción</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">V-2869516</th>
                  <td>Ing.Telematica</td>
                  <td>Acoso</td>
                  <td>Pendiente</td>
                  <td>Descripcion ,Descripcion,Descripcion...</td>
                </tr>

                <tr>
                  <th scope="row">V-2869516</th>
                  <td>Ing.Telematica</td>
                  <td>Acoso</td>
                  <td>Pendiente</td>
                  <td>Descripcion ,Descripcion,Descripcion...</td>
                </tr>

                <tr>
                  <th scope="row">V-2869516</th>
                  <td>Ing.Telematica</td>
                  <td>Acoso</td>
                  <td>Pendiente</td>
                  <td>Descripcion ,Descripcion,Descripcion...</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="generarSugerencias">
            <button class="btn btnSugerenciasList">Generar reporte de solicitudes</button>
          </div>
        </div>
      </div>

</div>