<!-- COMPONENTE PARA MOSTRAR LA SECCION DE DATOS DE PUBLICACIONES PENDIENTES-->
<div class="blockShowInfo">

    <div class="headerPostPendientes">
        <h2>Publicaciones pendientes para la aprobación</h2>
    </div>


    <div class="boxBodyPostsPendientes mb-4">
        <div class="boxPostPendiente">
            <p>MENSAJE</p>
        </div>
    </div>

    <div class="optionsPostsPendientes mb-4">
        <button class="btn btnPostsCancel">
            <span>RECHAZAR</span>
            <i class='bx bx-trash'></i>
        </button>

        <button class="btn btnPostsAccept">
            <span>Aceptar</span>
            <i class='bx bx-check'></i>
        </button>
    </div>

    <div class="boxBodyPostsPendientes mb-4">
        <div class="boxPostPendiente">
            <p>MENSAJE</p>
        </div>
    </div>

    <div class="optionsPostsPendientes mb-4">
        <button class="btn btnPostsCancel">
            <span>RECHAZAR</span>
            <i class='bx bx-trash'></i>
        </button>

        <button class="btn btnPostsAccept">
            <span>Aceptar</span>
            <i class='bx bx-check'></i>
        </button>
    </div>

    <div class="boxBodyPostsPendientes mb-4">
        <div class="boxPostPendiente">
            <p>MENSAJE</p>
        </div>
    </div>

    <div class="optionsPostsPendientes mb-4">
        <button class="btn btnPostsCancel">
            <span>RECHAZAR</span>
            <i class='bx bx-trash'></i>
        </button>

        <button class="btn btnPostsAccept">
            <span>Aceptar</span>
            <i class='bx bx-check'></i>
        </button>
    </div>
</div>