<!-- COMPONENTE PARA MOSTRAR LA SECCION DE ENVIA TUS SUGERENCIAS-->
<div class="blockShowInfo">

    <div class="headerSendSugerencias">
        <h2>Envía tus solicitudes</h2>
    </div>

    <div class="formSugerencias">
        <div class="nameInput">
            <div class="boxNameInput">
                <i class='bx bxs-user'></i>
                <span>Nombre</span>
            </div>
            <input type="text" class="form-control" id="sendNombreSolicitud" ">

      </div>

      <div class=" correoInput">
            <div class="boxCorreoInput">
                <i class='bx bx-envelope'></i>
                <span>Correo</span>
            </div>
            <input type="email" class="form-control" id="sendCorreoSolicitud">

        </div>


    </div>

    <div class="moreDetailsBlock">
        <label for="detailSugerencias" class="form-label">Añade mas detalles</label>
        <textarea class="form-control" id="detailSugerencias"></textarea>
    </div>

    <div class="btnSendSugerencias">
        <button class="btn sendBtn">
            <span>Enviar</span>
            <figure>
                <img src="../assets/ICONOS SIDEBAR/imgIcon_4Publicar.png" alt="boton enviar sugerencia">
            </figure>
        </button>
    </div>
</div>