<!-- COMPONENTE PARA MOSTRAR LA SECCION DE ENVIA TUS SOLICITUDES-->
<div class="blockShowInfo">

    <div class="headerSendSolicitud">
      <h2>Envía tus solicitudes</h2>
    </div>

    <div class="blockTypeSolicitud">
      <div class="typeSolicitud">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="checkTypeSolicitud" id="checkSolicitud" checked>
          <label class="form-check-label" for="checkSolicitud">
            Aula no asignada
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="checkTypeSolicitud" id="checkSolicitud">
          <label class="form-check-label" for="checkSolicitud">
            Académico/Administrativo
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="checkTypeSolicitud" id="checkSolicitud">
          <label class="form-check-label" for="checkSolicitud">
            Fallas en Infraestructura
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="checkTypeSolicitud" id="checkSolicitud">
          <label class="form-check-label" for="checkSolicitud">
            Materia sin profesor
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="checkTypeSolicitud" id="checkSolicitud">
          <label class="form-check-label" for="checkSolicitud">
            Enseñanza del docente
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="checkTypeSolicitud" id="checkSolicitud">
          <label class="form-check-label" for="checkSolicitud">
            Acoso
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="checkTypeSolicitud" id="checkSolicitud">
          <label class="form-check-label" for="checkSolicitud">
            Otro
          </label>
        </div>
      </div>

      <div class="solicitudFigure">
        <figure>
          <img src="../assets/ICONOS_SERVICIOESTUDIANTIL/enviaSolicitudes.webp" alt="figura seccion enviar solicitud">
        </figure>
      </div>
    </div>

    <div class="blockWriteSolicitud">
      <label for="writeSolicitud" class="form-label">Añade mas información</label>
      <textarea class="form-control" id="writeSolicitud" rows="3"></textarea>
    </div>

    <div class="btnBlockSolicitud">
      <button class="btn btnSendSolicitud">
        <span>Enviar</span>
        <figure>
          <img src="../assets/ICONOS SIDEBAR/imgIcon_4Publicar.png" alt="boton enviar solicitud">
        </figure>
      </button>
    </div>
  </div>