<!-- COMPONENTE PARA MOSTRAR LA SECCION DE SERVICIO ESTUDIANTIL-->
<div class="blockShowInfo">

    <div class="headerServicioEstudiantil">
      <h2>Servicios Estudiantiles</h2>
    </div>

    <div class="servicesBlock">
      <div class="row">
        <div class="col-md-4 servicesColumCards">
          <div class="card text-center">
            <figure>
              <img src="../assets/width_199.webp" class="card-img-top" alt="logo servicios estudiantiles">
            </figure>
            <div class="card-body servicesBody">
              <h3>Odontología</h3>
              <p class="card-text">Bienestar Estudiantil DCYT</p>
              <p class="card-text">Lunes y Miércoles</p>
              <span class="card-text">8:00am - 12:00pm</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 servicesColumCards">
          <div class="card text-center">
            <figure>
              <img src="../assets/width_199.webp" class="card-img-top" alt="logo servicios estudiantiles">
            </figure>
            <div class="card-body servicesBody">
              <h3>Nutrición</h3>
              <p class="card-text">Solicitar cita por (0251-2591299)</p>
              <p class="card-text">Martes, Miércoles y Jueves</p>
              <span class="card-text">8:00am - 10:00am</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 servicesColumCards">
          <div class="card text-center">
            <figure>
              <img src="../assets/width_199.webp" class="card-img-top" alt="logo servicios estudiantiles">
            </figure>
            <div class="card-body servicesBody">
              <h3>Psicología</h3>
              <p class="card-text">Bienestar Estudiantil DCYT</p>
              <p class="card-text">Solicita por</p>
              <span class="card-text">orientacion.obelisco@ucla.edu.ve</span>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>