<!-- COMPONENTE PARA MOSTRAR LA SECCION DE SOLICITUDES ENVIADAS-->
<div class="blockShowInfo">

    <div class="headerTusSolicitudes">
      <h2>Tus Solicitudes</h2>
    </div>

    <div class="statusSolicitud">
      <div class="statusPendiente">
        <i class='bx bxs-circle'></i>
        <span>Pendiente</span>
      </div>

      <div class="statusRevisado">
        <i class='bx bxs-circle'></i>
        <span>Revisada</span>
      </div>
    </div>

    <div class="reviewSolicitud">

      <div class="checkSolicitud">
        <div class="headerCheckSolicitud">
          <h3>Tipo de Solicitud</h3>
          <span>Enviada el XXXX-XX-XX</span>
        </div>
        <div class="bodyCheckSolicitud">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, voluptatem. Illo porro qui officia eligendi perspiciatis aut aliquam, quod ut nulla, ipsa, iure quibusdam! Sunt nesciunt recusandae dolorum doloremque quaerat.</p>
        </div>
      </div>

      <div class="waitSolicitud">
        <div class="headerWaitSolicitud">
          <h3>Tipo de Solicitud</h3>
          <span>Enviada el XXXX-XX-XX</span>
        </div>

        <div class="bodyWaitSolicitud">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, voluptatem. Illo porro qui officia eligendi perspiciatis aut aliquam, quod ut nulla, ipsa, iure quibusdam! Sunt nesciunt recusandae dolorum doloremque quaerat.</p>
        </div>
      </div>
      <div class="checkSolicitud">
        <div class="headerCheckSolicitud">
          <h3>Tipo de Solicitud</h3>
          <span>Enviada el XXXX-XX-XX</span>
        </div>
        <div class="bodyCheckSolicitud">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, voluptatem. Illo porro qui officia eligendi perspiciatis aut aliquam, quod ut nulla, ipsa, iure quibusdam! Sunt nesciunt recusandae dolorum doloremque quaerat.</p>
        </div>
      </div>

      <div class="waitSolicitud">
        <div class="headerWaitSolicitud">
          <h3>Tipo de Solicitud</h3>
          <span>Enviada el XXXX-XX-XX</span>
        </div>

        <div class="bodyWaitSolicitud">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, voluptatem. Illo porro qui officia eligendi perspiciatis aut aliquam, quod ut nulla, ipsa, iure quibusdam! Sunt nesciunt recusandae dolorum doloremque quaerat.</p>
        </div>
      </div>
    </div>
  </div>